/* Reset CSS */
body {
  margin: 0px;
  padding: 0px;
  background: url("../images/img1.jpg");
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}
.header {
  /* border: 2px solid red; */
  /* display: flex; */
  box-sizing: content-box;
  display: flex;
  justify-content: space-evenly;
  align-items: center;

}

.left {
  display: inline-block;
  position: absolute;
  left: 40px;
  top: 20px;
}

.left img {
  height: 40px;
  border-radius: 10px;
  background-repeat: no-repeat;
}

.left div {
  text-align: center;
  font-size: 11px;
  line-height: 10px;
}

.center {
  /* < !-- border: 3px solid blue;
        -->*/
  display: block;
  width: 50%;
  margin: 20px auto;
  font-family: "Baloo Bhaina 2", cursive;
}

.right {
  position: absolute;
  right: 50px;
  /* top: 25px; */
}

.navbar li {
  display: inline-block;
  
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 23px;
  margin: 0 10px;
}

.navbar li a:hover,
.navbar li a.active {
  text-decoration: underline;
  color: grey;
}

.btn {
  background-color: black;
  color: white;
  /* margin: 22px 5px; */
  padding: 7px 15px;
  border: 2px solid rgb(41, 40, 40);
  border-radius: 10px;
  cursor: pointer;
}

.btn:hover {
  background-color: rgb(18, 17, 17);
}
.container {
  border: 2px solid wheat;
  border-radius: 10px;
  /* margin: 90px 101px; */
  padding: 13px -2px;
  width: 43%;
  position: relative;
  left: 660px;
  top: 116px;
  margin: 7px;
}
.form-group input {
  text-align: center;
  display: block;
  width: 40%;
  padding: 4px;
  margin: 12px auto;
  border: 2px solid violet;
  border-radius: 11px;
  font-size: 18 px;
}

.container h1 {
  text-align: center;
}

.container button {
  display: block;
  width: 44%;
  margin: 16px auto;
  padding: 8px;
  font-size: 12px;
  border-radius: 14px;
}
